//-
  Example that uses bootstrap default styles to display messages provided using Flash methods. Able
  to work with list of messages and single message. Compliant with standard messaging level (error,
  success, warning, notice and info).
mixin flash()
  +flash-message(flash.success, 'success')
  +flash-message(flash.error, 'danger')
  +flash-message(flash.warning, 'warning')
  +flash-message(flash.notice, 'notice')
  +flash-message(flash.info, 'info')

mixin flash-message(data, type)
  if data
    div.alert(class='alert-' + type)
      if is_array(data)
        if count(data) > 1
          ul
            each message in data
              if message != ""
                li!=message
        else
          !=data[0]
      else
        !=data

//-
  Allows usage HTTP method besides GET and POST. Zephyrus verifies the existence of a __method
  parameter in the request, if it exists, it overwrites the submitted method.
mixin form(method, action)
  -httpMethod = method;
  -notStandard = method !== 'get' && method !== 'post';
  if notStandard
    -httpMethod = 'post';
  form.form-horizontal(method=httpMethod, action=action)&attributes(attributes)
    if notStandard
      input(type="hidden", name="__method", value=method)
    block

mixin ListMixins(list, href)
  if list
    if is_array(list)
      if count(list) > 1
        #list-tab.list-group(role='tablist')
            each item in list
              if (item.Href === href)
                .div#selectedDiv
                  a#selectedItem.list-group-item.list-group-item-action.list-menu( href=item.Href role='tab')= item.Name
                    i.fas.fa-angle-right.fa-lg.right-icon.d-inline
              else
                .div
                  a.list-group-item.list-group-item-action.list-menu(href=item.Href role='tab')= item.Name
                    i.fas.fa-angle-right.fa-lg.right-icon.d-inline
      else
        !=list[0]
    else
      !=list

mixin DataTableMixin(data, tableId)
  if data
    if is_array(data.data)
      if count(data.data) > 0
        table(id=tableId).display.table.dataTable.table-striped
          thead.table-head
            tr
                each header in data.headers
                  if (header === "meta")
                    th(hidden="")=header
                  else if (header === "id")
                    th(hidden="")=header
                  else
                    th=header
          tbody
              each row in data.data
                tr(data-href = '/')
                  block
      else
        !=data[0]
        p Il y a aucune données à afficher.
    else
      !=data
      p Il y a aucune données à afficher.