include mixins/base
html
  head
    meta(charset="utf8-8")
    title="Index"
    link(href="/stylesheets/main.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")
    meta(name="viewport" content="initial-scale=5,maximum-scale=1,user-scalable=no")
    //link(href="/stylesheets/bootstrap-table.css" rel='stylesheet' nonce=nonce())
    //script(src="javascripts/vendor/bootstrap-table.js" nonce=nonce())
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js' nonce=nonce())
    link(href="/stylesheets/darkUnica.css" rel='stylesheet')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' type='text/stylesheet' nonce=nonce())
    script(src="/javascripts/app.js" nonce=nonce())
    script(src="https://code.highcharts.com/highcharts.js" nonce=nonce()))
    script(src="https://code.highcharts.com/highcharts-more.js" nonce=nonce()))
    script(src="https://code.highcharts.com/modules/exporting.js" nonce=nonce()))
    script(src="https://code.highcharts.com/modules/export-data.js" nonce=nonce()))
    script(src="https://code.highcharts.com/modules/accessibility.js" nonce=nonce()))
  header(style="z-index: 9999")
    nav(style="padding: 0 8vw; font-size: 1.35rem; background-color: rgba(51,51,51, 0.9);").navbar.fixed-top.navbar-expand-sm.navbar-dark
      a.navbar-brand(href='/')
        .logo
          img(src="/stylesheets/images/Logo.png" height=50)
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/map') Map
        li.nav-item
          a.nav-link(href='/friends') Friends
        li.nav-item
          a.nav-link(href='/permissions') Permissions
      ul.navbar-nav.nav-flex-icons
        li.nav-item
          a.nav-link(href="https://www.facebook.com/Three-Fisherman-Friends-112539337331633" target="_blank")
            i.fab.fa-facebook-f
        li.nav-item
          a.nav-link(href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank")
            i.fab.fa-twitter
        li.nav-item
          a.nav-link(href="https://www.instagram.com/threefishermanfriends/" target="_blank")
            i.fab.fa-instagram
        li.nav-item
        li.nav-item
        li.nav-item

        li.nav-item
          a.nav-link(href="/logout")
            i.fas.fa-sign-out-alt
  block content