extends navbar

block content
  body
    br
    br
    br
    .row.justify-content-center
      br
      br
      .well.text-center="In this page all your hotspots will be displayed, the coordinates of them and the last time there was a catch. You are able to select which hotspot can be viewed by your friends. If you prefer to be not have your secrets out in the public this is the place to do so."
      br
      .row
          wrapper.style2
            .inner
              .grid-style
                  each hotspot in hotspots
                    div
                      .box.darkBox
                        .content
                          header.align-center
                            p=format('date', hotspot.lastTime)
                            h2.permsTitle="Hotspot " + hotspot.id

                          .row.justify-content-between
                            span.hotspotCoordPerm.p-0="Lat: " + hotspot.lat
                            span.hotspotCoordPerm.p-0="Long: " + hotspot.lon
                          .row.justify-content-center
                            .smallMapContainer(id="smallMap" + hotspot.id).p-0
                            script.
                                var id = #{hotspot.id};
                                var long = #{hotspot.lon};
                                var lat = #{hotspot.lat};
                                var coord = [long, lat];
                                console.log(coord)
                                mapboxgl.accessToken = 'pk.eyJ1Ijoid29vbnRvcG9saXMiLCJhIjoiY2tnYXoxMGVkMDgzMjJ2bTVqeTRrY2FuaiJ9.hg2PeuwIn4SPCMEFLt7mbw';
                                var map = new mapboxgl.Map({
                                    container: 'smallMap' + id,
                                    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                                    center: [lat, long], // starting position [lng, lat]
                                    zoom: 11 // starting zoom
                                });
                                map.on('load', function () {
                                    map.loadImage(
                                        '/stylesheets/images/marker2.png',
                                        function (error, image2) {
                                            if (error) throw error;
                                            map.addImage('custom-marker2', image2);
                                            map.addSource('point', {
                                                'type': 'geojson',
                                                'data': {
                                                    'type': 'FeatureCollection',
                                                    'features': [lat, long],
                                                }
                                            });
                                            map.addLayer({
                                                'id': 'symbols',
                                                'type': 'symbol',
                                                'source': 'point',
                                                'layout': {
                                                    'icon-image': 'custom-marker2',
                                                    'icon-size': 0.25
                                                }
                                            });
                                        }
                                    );
                                })
                          br

                          footer.align-center
                            if (hotspot.isShared)
                              a.btn.btn-sm.switchButton(id="switchBtn" + hotspot.id)
                                i.fas.fa-toggle-on(id="switchIcon" + hotspot.id)
                                script(nonce=nonce()).
                                    addEventListenerToButton(#{hotspot.id})
                            else
                              a.btn.btn-sm.switchButton(id="switchBtn" + hotspot.id)
                                i.fas.fa-toggle-off(id="switchIcon" + hotspot.id)
                                script(nonce=nonce()).
                                    addEventListenerToButton(#{hotspot.id})

      script(src="/javascripts/app.js" nonce=nonce())